# Analyzing Startup Fundraising Deals from Crunchbase

In this course, we explored a few different ways to work with larger datasets in pandas. In this guided project, we'll practice using some of the techniques we learned to analyze startup investments from Crunchbase.com.
Throughout this guided project, we'll practice working with different memory constraints. In this step, let's assume we only have 10 megabytes of available memory. While crunchbase-investments.csv consumes 10.3 megabytes of disk space, we know from earlier missions that pandas often requires 4 to 6 times amount of space in memory as the file does on disk (especially when there's many string columns).

## Introduction

Because the data set contains over 50,000 rows, you'll need to read the data set into dataframes using 5,000 row chunks to ensure that each chunk consumes much less than 10 megabytes of memory.
Across all of the chunks, become familiar with:
Each column's missing value counts
Each column's memory footprint
The total memory footprint of all of the chunks combined
Which column(s) we can drop because they aren't useful for analysis

In [2]:
import pandas as pd
import numpy as np

In [3]:
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1')
for chunk in chunk_iter:
    print(chunk.memory_usage(deep=True).sum()/(1024*1024))

5.579195022583008
5.528186798095703
5.535004615783691
5.528162956237793
5.5243072509765625
5.553412437438965
5.531391143798828
5.509613037109375
5.396090507507324
4.63945198059082
2.663668632507324

In [4]:
sum_chunk = 0
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1')
for chunk in chunk_iter:
    sum_chunk += chunk.memory_usage(deep=True).sum()/(1024*1024)  
print(sum_chunk)

56.988484382629395

The memory footprint of each column

In [13]:
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1')
memory_series = pd.Series()
counter = 0
for chunk in chunk_iter:
    if counter == 0:
        memory_series = chunk.memory_usage(deep=True)/(1024*1024)
    else:
        memory_series += chunk.memory_usage(deep=True)/(1024*1024) 
    counter += 1
    
memory_series

Index                     0.000877
company_permalink         3.869808
company_name              3.424955
company_category_code     3.262619
company_country_code      3.025223
company_state_code        2.962161
company_region            3.253541
company_city              3.343512
investor_permalink        4.749821
investor_name             3.734270
investor_category_code    0.593590
investor_country_code     2.524654
investor_state_code       2.361876
investor_region           3.238946
investor_city             2.751430
funding_round_type        3.252704
funded_at                 3.378091
funded_month              3.226837
funded_quarter            3.226837
funded_year               0.403366
raised_amount_usd         0.403366
dtype: float64

Each column's missing value counts

In [15]:
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1')

mv_list = []
for chunk in chunk_iter:
    mv_list.append(chunk.isnull().sum())
    
combined_mv_vc = pd.concat(mv_list)
unique_combined_mv_vc = combined_mv_vc.groupby(combined_mv_vc.index).sum()
unique_combined_mv_vc.sort_values()

company_country_code          1
company_name                  1
company_permalink             1
company_region                1
investor_region               2
investor_permalink            2
investor_name                 2
funded_quarter                3
funded_at                     3
funded_month                  3
funded_year                   3
funding_round_type            3
company_state_code          492
company_city                533
company_category_code       643
raised_amount_usd          3599
investor_country_code     12001
investor_city             12480
investor_state_code       16809
investor_category_code    50427
dtype: int64

What column's can we drop because they aren't useful for analysis?

In [16]:
# Drop columns representing URL's or containing way too many missing values (>90% missing)
drop_cols = ['investor_permalink', 'company_permalink', 'investor_category_code']
keep_cols = chunk.columns.drop(drop_cols)

## Selecting Data Types

Now that we have a good sense of the missing values, let's get familiar with the column types before adding the data into SQLite.

Identify the types for each column.

In [17]:
# Key: Column name, Value: List of types
col_types = {}
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1', usecols=keep_cols)

for chunk in chunk_iter:
    for col in chunk.columns:
        if col not in col_types:
            col_types[col] = [str(chunk.dtypes[col])]
        else:
            col_types[col].append(str(chunk.dtypes[col]))

            
uniq_col_types = {}
for k,v in col_types.items():
    uniq_col_types[k] = set(col_types[k])
uniq_col_types

{'company_category_code': {'object'},
 'company_city': {'object'},
 'company_country_code': {'object'},
 'company_name': {'object'},
 'company_region': {'object'},
 'company_state_code': {'object'},
 'funded_at': {'object'},
 'funded_month': {'object'},
 'funded_quarter': {'object'},
 'funded_year': {'float64', 'int64'},
 'funding_round_type': {'object'},
 'investor_city': {'float64', 'object'},
 'investor_country_code': {'float64', 'object'},
 'investor_name': {'object'},
 'investor_region': {'object'},
 'investor_state_code': {'float64', 'object'},
 'raised_amount_usd': {'float64'}}

Identify the numeric columns we can represent using more space efficient types.

In [18]:
chunk

,company_name,company_category_code,company_country_code,company_state_code,company_region,company_city,investor_name,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_type,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd
50000,NuORDER,fashion,USA,CA,Los Angeles,West Hollywood,Mortimer Singer,NaN,NaN,unknown,NaN,series-a,2012-10-01,2012-10,2012-Q4,2012,3060000.0
50001,ChaCha,advertising,USA,IN,Indianapolis,Carmel,Morton Meyerson,NaN,NaN,unknown,NaN,series-b,2007-10-01,2007-10,2007-Q4,2007,12000000.0
50002,Binfire,software,USA,FL,Bocat Raton,Bocat Raton,Moshe Ariel,NaN,NaN,unknown,NaN,angel,2008-04-18,2008-04,2008-Q2,2008,500000.0
50003,Binfire,software,USA,FL,Bocat Raton,Bocat Raton,Moshe Ariel,NaN,NaN,unknown,NaN,angel,2010-01-01,2010-01,2010-Q1,2010,750000.0
50004,Unified Color,software,USA,CA,SF Bay,South San Frnacisco,Mr. Andrew Oung,NaN,NaN,unknown,NaN,angel,2010-01-01,2010-01,2010-Q1,2010,NaN
50005,HItviews,advertising,USA,NY,New York,New York City,multiple parties,NaN,NaN,unknown,NaN,angel,2007-11-29,2007-11,2007-Q4,2007,485000.0
50006,LockerDome,social,USA,MO,Saint Louis,St. Louis,multiple parties,NaN,NaN,unknown,NaN,angel,2012-04-17,2012-04,2012-Q2,2012,300000.0
50007,ThirdLove,ecommerce,USA,CA,SF Bay,San Francisco,Munjal Shah,NaN,NaN,unknown,NaN,series-a,2012-12-01,2012-12,2012-Q4,2012,5600000.0
50008,Hakia,search,USA,NaN,TBD,NaN,Murat Vargi,NaN,NaN,unknown,NaN,series-a,2006-11-01,2006-11,2006-Q4,2006,16000000.0
50009,bookacoach,sports,USA,IN,Indianapolis,Indianapolis,Myles Grote,NaN,NaN,unknown,NaN,angel,2012-11-01,2012-11,2012-Q4,2012,NaN
50010,LocalCircles,social,USA,CA,SF Bay,Santa Clara,Nadir Godrej,NaN,NaN,unknown,NaN,angel,2012-09-01,2012-09,2012-Q3,2012,NaN
50011,Graphdive,analytics,USA,CA,SF Bay,Menlo Park,Naguib Sawiris,NaN,NaN,unknown,NaN,angel,2012-10-04,2012-10,2012-Q4,2012,1000000.0
50012,Ribbon,ecommerce,USA,CA,SF Bay,San Francisco,Naguib Sawiris,NaN,NaN,unknown,NaN,series-a,2013-02-05,2013-02,2013-Q1,2013,1630000.0
50013,Dokkankom.com,ecommerce,USA,NY,New York,new york,Namek Zu'bi,NaN,NaN,unknown,NaN,angel,2011-10-10,2011-10,2011-Q4,2011,30000.0
50014,Lookery,web,USA,CA,SF Bay,San Francisco,Nana Shin,NaN,NaN,unknown,NaN,angel,2008-02-07,2008-02,2008-Q1,2008,900000.0
50015,TrustDegrees,web,USA,NY,Kenmore,Kenmore,Nancy Barrett,NaN,NaN,unknown,NaN,angel,2011-06-09,2011-06,2011-Q2,2011,8000.0
50016,Altavoz,games_video,USA,DC,Washington DC,Washington,Nancy Jacobsen,NaN,NaN,unknown,NaN,angel,2012-09-11,2012-09,2012-Q3,2012,150000.0
50017,EdSurge,education,USA,CA,SF Bay,Burlingame,Nancy Peretsman,NaN,NaN,unknown,NaN,angel,2012-08-29,2012-08,2012-Q3,2012,400000.0
50018,FullContact,enterprise,USA,CO,Denver,Denver,Nancy Pierce,NaN,NaN,unknown,NaN,series-b,2012-07-09,2012-07,2012-Q3,2012,7000000.0
50019,Rapt Media,enterprise,USA,CO,Denver,Boulder,Nancy Pierce,NaN,NaN,unknown,NaN,series-a,2013-01-23,2013-01,2013-Q1,2013,2288803.0
50020,Humanoid,software,USA,CA,SF Bay,San Francisco,Nat Friedman,NaN,NaN,unknown,NaN,angel,2010-12-01,2010-12,2010-Q4,2010,1100000.0
50021,Runscope,web,USA,CA,SF Bay,San Francisco,Nat Friedman,NaN,NaN,unknown,NaN,angel,2013-05-22,2013-05,2013-Q2,2013,1100000.0
50022,Adzerk,advertising,USA,NC,Raleigh-Durham,Durham,Nat Turner,NaN,NaN,unknown,NaN,angel,2011-07-12,2011-07,2011-Q3,2011,650000.0
50023,Adaptly,advertising,USA,NY,New York,New York,Nat Turner,NaN,NaN,unknown,NaN,series-a,2011-04-18,2011-04,2011-Q2,2011,2000000.0
50024,Lore,education,USA,NY,New York,New York,Nat Turner,NaN,NaN,unknown,NaN,angel,2011-06-27,2011-06,2011-Q2,2011,1000000.0
50025,Tasted Menu,hospitality,USA,MA,Boston,Boston,Nat Turner,NaN,NaN,unknown,NaN,angel,2011-05-01,2011-05,2011-Q2,2011,NaN
50026,Lua Technologies,mobile,USA,NY,New York,New York,Nat Turner,NaN,NaN,unknown,NaN,series-a,2012-08-01,2012-08,2012-Q3,2012,2500000.0
50027,Blue Apron,hospitality,USA,NY,New York,Brooklyn,Nat Turner,NaN,NaN,unknown,NaN,series-a,2013-02-19,2013-02,2013-Q1,2013,3000000.0
50028,ChatID,mobile,USA,NY,New York,New York,Nat Turner,NaN,NaN,unknown,NaN,angel,2012-01-01,2012-01,2012-Q1,2012,NaN
50029,Breakthrough Behavioral,health,USA,CA,SF Bay,Redwood City,Nat Turner,NaN,NaN,unknown,NaN,angel,2012-08-13,2012-08,2012-Q3,2012,900000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52840,Meddik,health,USA,NY,New York,New York,Zach Weinberg,NaN,NaN,unknown,NaN,angel,2012-05-24,2012-05,2012-Q2,2012,750000.0
52841,Blue Apron,hospitality,USA,NY,New York,Brooklyn,Zach Weinberg,NaN,NaN,unknown,NaN,series-a,2013-02-19,2013-02,2013-Q1,2013,3000000.0
52842,ChatID,mobile,USA,NY,New York,New York,Zach Weinberg,NaN,NaN,unknown,NaN,angel,2012-01-01,2012-01,2012-Q1,2012,NaN
52843,Breakthrough Behavioral,health,USA,CA,SF Bay,Redwood City,Zach Weinberg,NaN,NaN,unknown,NaN,angel,2012-08-13,2012-08,2012-Q3,2012,900000.0
52844,Plaid,software,USA,CA,SF Bay,San Francisco,Zach Weinberg,NaN,NaN,unknown,NaN,series-a,2013-09-19,2013-09,2013-Q3,2013,2800000.0
52845,PokitDok,mobile,USA,CA,SF Bay,Menlo Park,Zach Zeitlin,NaN,NaN,unknown,NaN,angel,2012-07-12,2012-07,2012-Q3,2012,1300000.0
52846,Fitocracy,web,USA,NY,New York,New York,Zachary Aarons,NaN,NaN,unknown,NaN,angel,2011-09-01,2011-09,2011-Q3,2011,250000.0
52847,Square,mobile,USA,CA,SF Bay,San Francisco,Zachary Bogue,NaN,NaN,unknown,NaN,series-a,2009-11-01,2009-11,2009-Q4,2009,10000000.0
52848,MixRank,advertising,USA,CA,SF Bay,San Francisco,Zachary Bogue,NaN,NaN,unknown,NaN,series-a,2011-11-18,2011-11,2011-Q4,2011,1500000.0
52849,Socialcam,mobile,USA,CA,Santa Clara County,Santa Clara County,Zachary Bogue,NaN,NaN,unknown,NaN,angel,2012-04-30,2012-04,2012-Q2,2012,NaN
52850,Nuzzel,news,USA,CA,SF Bay,San Francisco,Zachary Bogue,NaN,NaN,unknown,NaN,venture,2012-11-15,2012-11,2012-Q4,2012,1700000.0
52851,ThirdLove,ecommerce,USA,CA,SF Bay,San Francisco,Zachary Bogue,NaN,NaN,unknown,NaN,series-a,2012-12-01,2012-12,2012-Q4,2012,5600000.0
52852,MXD3D,web,USA,CA,SF Bay,San Francisco,Zaid Ayoub,NaN,NaN,unknown,NaN,angel,2012-01-01,2012-01,2012-Q1,2012,300000.0
52853,MXD3D,web,USA,CA,SF Bay,San Francisco,Zaid Ayoub,NaN,NaN,unknown,NaN,angel,2011-01-01,2011-01,2011-Q1,2011,300000.0
52854,Verious,mobile,USA,CA,SF Bay,San Carlos,Zain Khan,NaN,NaN,unknown,NaN,angel,2011-05-30,2011-05,2011-Q2,2011,800000.0
52855,Identified,analytics,USA,CA,SF Bay,San Francisco,Zao Yang,NaN,NaN,unknown,NaN,series-b,2012-06-05,2012-06,2012-Q2,2012,21000000.0
52856,HaulerDeals,fashion,USA,CA,Los Angeles,Los Angeles,Zaw Thet,NaN,NaN,unknown,NaN,angel,2012-10-31,2012-10,2012-Q4,2012,1250000.0
52857,When You Wish,nonprofit,USA,CA,Los Angeles,Marina Del Rey,Zelda Marzec,NaN,NaN,unknown,NaN,series-a,2011-02-01,2011-02,2011-Q1,2011,1500000.0
52858,Farmeron,analytics,USA,CA,SF Bay,Mountain View,Zeljko Mataija,NaN,NaN,unknown,NaN,angel,2010-10-01,2010-10,2010-Q4,2010,15000.0
52859,Theraclone Sciences,biotech,USA,WA,Seattle,Seattle,Zenyaku Kogyo,NaN,NaN,unknown,NaN,series-b,2013-03-25,2013-03,2013-Q1,2013,8000000.0
52860,SimpleGeo,advertising,USA,CA,SF Bay,San Francisco,Ziv Navoth,NaN,NaN,unknown,NaN,other,2009-11-10,2009-11,2009-Q4,2009,195000.0
52861,Open Me,ecommerce,USA,CA,Los Angeles,Los Angeles,Ziver Birg,NaN,NaN,unknown,NaN,angel,2013-08-01,2013-08,2013-Q3,2013,NaN
52862,Comprehend Systems,enterprise,USA,CA,SF Bay,Palo Alto,Zod Nazem,NaN,NaN,unknown,NaN,series-a,2013-07-11,2013-07,2013-Q3,2013,8400000.0
52863,Payoneer,other,USA,NY,New York,New York,Zohar Gilon,NaN,NaN,unknown,NaN,series-a,2005-01-01,2005-01,2005-Q1,2005,2000000.0
52864,Outbrain,web,USA,NY,New York,New York City,Zohar Gilon,NaN,NaN,unknown,NaN,series-b,2009-02-11,2009-02,2009-Q1,2009,12000000.0
52865,Garantia Data,enterprise,USA,CA,SF Bay,Santa Clara,Zohar Gilon,NaN,NaN,unknown,NaN,series-a,2012-08-08,2012-08,2012-Q3,2012,3800000.0
52866,DudaMobile,mobile,USA,CA,SF Bay,Palo Alto,Zohar Gilon,NaN,NaN,unknown,NaN,series-c+,2013-04-08,2013-04,2013-Q2,2013,10300000.0
52867,SiteBrains,software,USA,CA,SF Bay,San Francisco,zohar israel,NaN,NaN,unknown,NaN,angel,2010-08-01,2010-08,2010-Q3,2010,350000.0
52868,Comprehend Systems,enterprise,USA,CA,SF Bay,Palo Alto,Zorba Lieberman,NaN,NaN,unknown,NaN,series-a,2013-07-11,2013-07,2013-Q3,2013,8400000.0
52869,SmartThings,mobile,USA,DC,unknown,Minneapolis,Zorik Gordon,NaN,NaN,unknown,NaN,series-a,2012-12-04,2012-12,2012-Q4,2012,3000000.0

Numeric columns to change to more space-efficient types: **funded_at, funded_month, funded_quarter, funded_year, raise_amount_usd**

In [19]:
##How many unique values are there in each string column? How many of the string columns contain values that are less than 50% unique?
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1', usecols=keep_cols)

uniques = {}
for chunk in chunk_iter:
    strings_only = chunk.select_dtypes(include=['object'])
    cols = strings_only.columns
    for c in cols:
        val_counts = strings_only[c].value_counts()
        if c in uniques:
            uniques[c].append(val_counts)
        else:
            uniques[c] = [val_counts]

uniques_combined = {}
unique_stats = {
    'column_name': [],
    'total_values': [],
    'unique_values': [],
}

useful_obj_cols = []

for col in uniques:
    u_concat = pd.concat(uniques[col])
    u_group = u_concat.groupby(u_concat.index).sum()
    uniques_combined[col] = u_group
    if (u_group.shape[0]/50000) < 0.2:
        useful_obj_cols.append(col)
        print(col, u_group.shape[0])

company_region 546
investor_region 585
investor_state_code 50
company_city 1229
company_state_code 50
company_country_code 2
funded_at 2808
investor_city 990
investor_country_code 72
funded_quarter 72
funding_round_type 9
company_category_code 43
funded_month 192

In [20]:
## Create dictionary (key: column, value: list of Series objects representing each chunk's value counts)
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1', usecols=keep_cols)
str_cols_vc = {}
for chunk in chunk_iter:
    str_cols = chunk.select_dtypes(include=['object'])
    for col in str_cols.columns:
        current_col_vc = str_cols[col].value_counts()
        if col in str_cols_vc:
            str_cols_vc[col].append(current_col_vc)
        else:
            str_cols_vc[col] = [current_col_vc]

In [21]:
## Combine the value counts.
combined_vcs = {}

for col in str_cols_vc:
    combined_vc = pd.concat(str_cols_vc[col])
    final_vc = combined_vc.groupby(combined_vc.index).sum()
    combined_vcs[col] = final_vc

In [22]:
for col in useful_obj_cols:
    print(col)
    print(combined_vcs[col])
    print("-----------")

company_region
2008                    1
Akron                  11
Alachua                19
Albuquerque            83
Allentown              20
Alliance                1
Ames                    1
Amherst                 9
Angier                  4
Appleton                3
Asheville               3
Ashford                 1
Ashland                 4
Atlanta               558
Atlantic Highlands      8
Auburn Hlls             2
Augusta                 1
Aurora                  3
Austin                947
Avon                    1
B                       5
Bakersfield             1
Bala Cynwyd             6
Baltimore              95
Bangalore               3
Bar Harbor              1
Barre                   2
Baton Rouge            14
Battleground            3
Bedford                 8
                     ...
West Trenton            2
Westfield              14
Westport               17
Whippany                6
White River             3
Whiting                 1
Wilbraham               3
Williamsburg            2
Williamstown            9
Williamsville           3
Williston               2
Willmington            25
Wilmington             12
Wilton                  4
Windber                 2
Windsor                 9
Winooski                3
Winston Salem           6
Woodbury                3
Woodstock               5
Woonsocket              1
Wooster                 3
Yaphank                 2
Youngstown              2
Zagreb                  2
Zeeland                 2
piscataway              9
unknown               102
w. babylon              2
wilkes barre            1
Name: company_region, Length: 546, dtype: int64
-----------
investor_region
Aalborg                    1
Abbotsford                 1
Aberdeen                   2
Abu Dhabi                  2
Accra                      1
Adelaide                   4
Aichi                      1
Akron                      1
Albany                    23
Alberta                    1
Albuquerque               13
Allentown                  1
Alphen aan den Rijn        8
American Falls             1
Ames                       1
Amherst                   18
Amman                      5
Amsterdam                 25
Antwerpen                 14
Asheville                  2
Aspen                      1
Athens                    19
Atlanta                  266
Atsugi-City                1
Auburn                     2
Auckland                  10
Auckland Central           1
Austin                   368
Australia - Other          6
Avon                       7
                       ...
West Lafayette             2
West Point                 2
Weston                     1
Westport                  38
Whitehouse Station         1
Wichita                    3
Williamstown              66
Willmington               20
Wilmington                 8
Wilton                     3
Windermer                  1
Winnipeg                   2
Winston Salem             10
Woodcliff Lake             2
Woodstock                  1
Wooster                    1
Wrexham                    1
Wuppertal                  3
Wynne                      1
Zagreb                     1
Zuerich                    2
Zug                        1
Zurich                    48
chicago                    7
freehold                   3
mkalles                    1
portland metro             1
regina                     1
unknown                12285
wilkes barre               1
Name: investor_region, Length: 585, dtype: int64
-----------
investor_state_code
AL       67
AR       14
AZ       84
CA    18405
CO      729
CT      577
DC      323
DE       20
FL      242
GA      274
HI       13
IA        9
ID       40
IL      992
IN       88
KS       13
KY       54
LA       15
MA     3619
MD      486
ME       41
MI      315
MN      101
MO      148
MS        6
MT        1
NC      339
ND        5
NE       35
NH       51
NJ      456
NM       41
NV       38
NY     4404
OH      309
OK       21
OR       85
PA      762
RI       92
SC       34
SD        9
TN      147
TX      816
UT      200
VA      579
VT       26
WA      847
WI       82
WV        4
WY        3
Name: investor_state_code, dtype: int64
-----------
company_city
(Oct. 01, 2011 - Sep. 30, 2012)     2
10000000                            1
ALLSTON                             2
ATLANTA                             2
AUSTIN                              2
Acton                              90
Addison                            29
Agoura Hills                       13
Akron                              12
Alachua                            19
Alameda                            44
Albuquerque                        83
Alexandria                         40
Aliso Viejo                        55
Aliso Viejo,                        6
Allen                              14
Allen park                          6
Allentown                          20
Alliance                            1
Allston                             4
Alpharetta                         83
Alpharetta,                         1
Altadena                           17
Altamonte Springs                   1
Alviso                              1
American Fork                      40
Ames                                6
Amesbury                            5
Amherst                             9
Anaheim                             3
                                   ..
Worcester                          10
Wyckoff                             2
Wynnewood                           1
Yaphank                             2
Yardley                             1
Yonkers                             7
Yorba Linda                         2
Youngstown                          2
Ypsilanti                           1
Zagreb                              2
Zeeland                             2
ann arbor                           1
atlanta                             1
bluffton                            1
columbus                            1
foster city                         2
hermosa beach                       3
irvine                              3
los angeles                        11
miami                               4
new york                            5
omaha                               1
pahoa                               1
san francisco                       1
santa monica                       19
sausalito                           1
scottsdale                          2
seattle                             1
w. babylon                          2
westminster                         1
Name: company_city, Length: 1229, dtype: int64
-----------
company_state_code
2008-Q1        1
AL            17
AR            33
AZ           261
CA         27054
CO           977
CT           333
DC           219
DE            28
FL           550
GA           568
HI            31
IA            33
ID            32
IL           911
IN           143
KS            65
KY            45
LA            43
MA          4889
MD           600
ME            94
MI           265
MN           205
MO           182
MS            33
MT            19
NC           596
NE            39
NH           159
NJ           691
NM            90
NV           105
NY          5890
OH           439
OK            29
OR           466
PA           918
RI           191
SC            97
SD             3
TN           176
TX          1619
UT           419
VA           704
VT            55
WA          1888
WI           163
WV             9
WY             1
Name: company_state_code, dtype: int64
-----------
company_country_code
2008-02        1
USA        52868
Name: company_country_code, dtype: int64
-----------
funded_at
1987-01-01     1
1987-06-16     1
1995-04-01     1
1995-07-01     1
1995-11-30     3
1996-01-01     2
1997-03-01     1
1997-06-01     1
1997-11-10     3
1998-01-01     1
1998-02-09     3
1998-04-01     1
1998-05-01     4
1998-07-01     1
1998-08-01     1
1999-01-01    16
1999-03-01    10
1999-04-01    13
1999-04-15     1
1999-05-01     3
1999-06-01     3
1999-06-07     2
1999-07-01     2
1999-07-07     1
1999-07-22     1
1999-08-02     2
1999-08-30     2
1999-09-01     8
1999-09-02     1
1999-10-01    14
              ..
2013-08-27    36
2013-08-28    35
2013-08-29    55
2013-08-30    11
2013-09-01    27
2013-09-03    39
2013-09-04    68
2013-09-05    45
2013-09-06    13
2013-09-07     5
2013-09-09    23
2013-09-10    40
2013-09-11    50
2013-09-12    38
2013-09-13    22
2013-09-15     4
2013-09-16    38
2013-09-17    60
2013-09-18    41
2013-09-19    38
2013-09-20    20
2013-09-22    17
2013-09-23    34
2013-09-24    45
2013-09-25    36
2013-09-26    56
2013-09-27    51
2013-09-29     2
2013-09-30    34
2013-10-01     5
Name: funded_at, Length: 2808, dtype: int64
-----------
investor_city
(Oct. 01, 2011 - Sep. 30, 2012)     2
ABERDEEN                            2
ADELAIDE                            2
ALBURY                              1
AUSTIN                              1
Aalborg                             1
Abbotsford                          1
Abu Dhabi                           2
Accra                               1
Addison                             4
Adelaide                            2
Agoura Hills                        4
Aichi                               1
Akron                               1
Alamo                              12
Albany                             23
Alberta                             1
Albuquerque                        13
Alexandria                         98
Aliso Viejo                         5
Allentown                           1
Alpharetta                          6
Alphen aan den Rijn                 8
Alpine                              1
Altadena                           15
American Falls                      1
Ames                                2
Amesbury                            1
Amherst                            18
Amman                               5
                                   ..
Wilsonville                         1
Wilton                              3
Windermer                           1
Windermere                          1
Winnetka                            2
Winnipeg                            2
Winston-Salem                      10
Winter Park                        18
Wood Dale                           1
Woodcliff Lake                      2
Woodside                           71
Wooster                             1
Wrexham                             1
Wuppertal                           3
Wynne                               1
Yardley                             2
Yvette cedex                        1
Zagreb                              1
Zeist                               1
Zuerich                             2
Zug                                 1
Zurich                             41
Zrich                              1
ZÌ_rich                             2
_stanbul                            1
cape town                           1
herndon                             2
kansas city                         1
paris                               1
portland metro                      1
Name: investor_city, Length: 990, dtype: int64
-----------
investor_country_code
ARE        7
ARG       14
AUS      163
BEL       44
BGR        4
BHR       10
BHS        1
BMU        6
BRA       10
CAN      432
CHE      184
CHL        8
CHN      143
CYM       15
CYP        2
CZE        2
DEU      349
DNK       70
EGY        1
ESP       45
EST        8
FIN       36
FRA      229
GBR      825
GHA        1
GIB        3
GRC        1
HKG       53
HRV        1
HUN        9
       ...
LIE        1
LTU        1
LUX       32
MAR        1
MEX        5
MUS       23
MYS       15
NGA        6
NLD       72
NOR       37
NZL       14
PAK        1
PHL        6
POL        1
PRI        2
PRT       13
QAT        2
ROM        2
RUS       63
SAU        2
SGP      105
SVN        3
SWE      120
TUR        4
TWN       47
UKR        9
USA    36574
VNM        5
WSM        4
ZAF        5
Name: investor_country_code, Length: 72, dtype: int64
-----------
funded_quarter
1987-Q1       1
1987-Q2       1
1995-Q2       1
1995-Q3       1
1995-Q4       3
1996-Q1       2
1997-Q1       1
1997-Q2       1
1997-Q4       3
1998-Q1       4
1998-Q2       5
1998-Q3       2
1999-Q1      26
1999-Q2      22
1999-Q3      17
1999-Q4      30
2000-Q1      42
2000-Q2      66
2000-Q3      28
2000-Q4      40
2001-Q1      38
2001-Q2      20
2001-Q3      26
2001-Q4      32
2002-Q1      40
2002-Q2      35
2002-Q3      37
2002-Q4      33
2003-Q1      54
2003-Q2      50
           ...
2006-Q3     942
2006-Q4     915
2007-Q1    1269
2007-Q2    1189
2007-Q3    1280
2007-Q4    1043
2008-Q1    1476
2008-Q2    1414
2008-Q3    1061
2008-Q4     986
2009-Q1    1074
2009-Q2    1077
2009-Q3    1020
2009-Q4    1539
2010-Q1    1578
2010-Q2    1575
2010-Q3    1651
2010-Q4    1491
2011-Q1    2026
2011-Q2    2046
2011-Q3    2230
2011-Q4    1957
2012-Q1    2223
2012-Q2    2427
2012-Q3    2053
2012-Q4    2070
2013-Q1    2245
2013-Q2    2351
2013-Q3    2514
2013-Q4       5
Name: funded_quarter, Length: 72, dtype: int64
-----------
funding_round_type
angel              8989
crowdfunding          5
other               964
post-ipo             33
private-equity      357
series-a          13938
series-b           8794
series-c+         10870
venture            8917
Name: funding_round_type, dtype: int64
-----------
company_category_code
2/7/08                 1
advertising         3200
analytics           1863
automotive           164
biotech             4951
cleantech           1948
consulting           233
design                55
ecommerce           2168
education            783
enterprise          4489
fashion              368
finance              931
games_video         1893
government            10
hardware            1537
health               670
hospitality          331
legal                 87
local                 22
manufacturing        310
medical             1315
messaging            452
mobile              4067
music                287
nanotech             216
network_hosting     1075
news                 363
nonprofit            149
other                481
pets                  43
photo_video          230
public_relations     659
real_estate          190
search               632
security             996
semiconductor       1292
social               920
software            7243
sports               121
transportation       130
travel               337
web                 5015
Name: company_category_code, dtype: int64
-----------
funded_month
1987-01       1
1987-06       1
1995-04       1
1995-07       1
1995-11       3
1996-01       2
1997-03       1
1997-06       1
1997-11       3
1998-01       1
1998-02       3
1998-04       1
1998-05       4
1998-07       1
1998-08       1
1999-01      16
1999-03      10
1999-04      14
1999-05       3
1999-06       5
1999-07       4
1999-08       4
1999-09       9
1999-10      16
1999-11       3
1999-12      11
2000-01      21
2000-02       8
2000-03      13
2000-04      35
           ...
2011-05     691
2011-06     760
2011-07     641
2011-08     752
2011-09     837
2011-10     624
2011-11     666
2011-12     667
2012-01    1005
2012-02     567
2012-03     651
2012-04     696
2012-05     805
2012-06     926
2012-07     779
2012-08     608
2012-09     666
2012-10     818
2012-11     669
2012-12     583
2013-01     836
2013-02     702
2013-03     707
2013-04     654
2013-05     784
2013-06     913
2013-07     927
2013-08     741
2013-09     846
2013-10       5
Name: funded_month, Length: 192, dtype: int64
-----------

Columns to change to category: 
* company_region 
* investor_region 
* investor_state_code 
* company_city 1229
* company_state_code 50
* company_country_code 2
* investor_city 990
* investor_country_code 72
* funding_round_type 9
* company_category_code 43

Let's convert the following to datetime:
* funded_at
* funded_month
* funded_quarter

In [23]:
convert_col_dtypes = {
    "company_region": "category", "investor_region": "category", 
    "investor_state_code": "category", "company_city": "category",
    "company_state_code": "category", "company_country_code": "category",
"investor_city": "category", "investor_country_code": "category",
"funding_round_type": "category", "company_category_code": "category", "loan_status": "category"}

In [24]:
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1', usecols=keep_cols, dtype=convert_col_dtypes, 
                         parse_dates=["funded_at", "funded_month", "funded_quarter"])

new_mem_usage = []

for chunk in chunk_iter:
    new_mem_usage.append(chunk.memory_usage(deep=True).sum()/ 1024 ** 2)

In [25]:
print("New Memory Usage: ", sum(new_mem_usage))

New Memory Usage:  11.08881664276123

In [26]:
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1', usecols=keep_cols, dtype=convert_col_dtypes, 
                         parse_dates=["funded_at", "funded_month", "funded_quarter"])

memory_series = pd.Series()
counter = 0
for chunk in chunk_iter:
    if counter == 0:
        memory_series = chunk.memory_usage(deep=True)/(1024*1024)
    else:
        memory_series += chunk.memory_usage(deep=True)/(1024*1024) 
    counter += 1
    
memory_series

Index                    0.000877
company_name             3.424955
company_category_code    0.091980
company_country_code     0.051188
company_state_code       0.091649
company_region           0.317376
company_city             0.624051
investor_name            3.734270
investor_country_code    0.079145
investor_state_code      0.079806
investor_region          0.217028
investor_city            0.300412
funding_round_type       0.059248
funded_at                0.403366
funded_month             0.403366
funded_quarter           0.403366
funded_year              0.403366
raised_amount_usd        0.403366
dtype: float64

In [30]:
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1', usecols=keep_cols, dtype=convert_col_dtypes, 
                         parse_dates=["funded_at", "funded_month", "funded_quarter"])

chunk

,company_name,company_category_code,company_country_code,company_state_code,company_region,company_city,investor_name,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_type,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd
50000,NuORDER,fashion,USA,CA,Los Angeles,West Hollywood,Mortimer Singer,NaN,NaN,unknown,NaN,series-a,2012-10-01,2012-10-01,2012-10-01,2012,3060000.0
50001,ChaCha,advertising,USA,IN,Indianapolis,Carmel,Morton Meyerson,NaN,NaN,unknown,NaN,series-b,2007-10-01,2007-10-01,2007-10-01,2007,12000000.0
50002,Binfire,software,USA,FL,Bocat Raton,Bocat Raton,Moshe Ariel,NaN,NaN,unknown,NaN,angel,2008-04-18,2008-04-01,2008-04-01,2008,500000.0
50003,Binfire,software,USA,FL,Bocat Raton,Bocat Raton,Moshe Ariel,NaN,NaN,unknown,NaN,angel,2010-01-01,2010-01-01,2010-01-01,2010,750000.0
50004,Unified Color,software,USA,CA,SF Bay,South San Frnacisco,Mr. Andrew Oung,NaN,NaN,unknown,NaN,angel,2010-01-01,2010-01-01,2010-01-01,2010,NaN
50005,HItviews,advertising,USA,NY,New York,New York City,multiple parties,NaN,NaN,unknown,NaN,angel,2007-11-29,2007-11-01,2007-10-01,2007,485000.0
50006,LockerDome,social,USA,MO,Saint Louis,St. Louis,multiple parties,NaN,NaN,unknown,NaN,angel,2012-04-17,2012-04-01,2012-04-01,2012,300000.0
50007,ThirdLove,ecommerce,USA,CA,SF Bay,San Francisco,Munjal Shah,NaN,NaN,unknown,NaN,series-a,2012-12-01,2012-12-01,2012-10-01,2012,5600000.0
50008,Hakia,search,USA,NaN,TBD,NaN,Murat Vargi,NaN,NaN,unknown,NaN,series-a,2006-11-01,2006-11-01,2006-10-01,2006,16000000.0
50009,bookacoach,sports,USA,IN,Indianapolis,Indianapolis,Myles Grote,NaN,NaN,unknown,NaN,angel,2012-11-01,2012-11-01,2012-10-01,2012,NaN
50010,LocalCircles,social,USA,CA,SF Bay,Santa Clara,Nadir Godrej,NaN,NaN,unknown,NaN,angel,2012-09-01,2012-09-01,2012-07-01,2012,NaN
50011,Graphdive,analytics,USA,CA,SF Bay,Menlo Park,Naguib Sawiris,NaN,NaN,unknown,NaN,angel,2012-10-04,2012-10-01,2012-10-01,2012,1000000.0
50012,Ribbon,ecommerce,USA,CA,SF Bay,San Francisco,Naguib Sawiris,NaN,NaN,unknown,NaN,series-a,2013-02-05,2013-02-01,2013-01-01,2013,1630000.0
50013,Dokkankom.com,ecommerce,USA,NY,New York,new york,Namek Zu'bi,NaN,NaN,unknown,NaN,angel,2011-10-10,2011-10-01,2011-10-01,2011,30000.0
50014,Lookery,web,USA,CA,SF Bay,San Francisco,Nana Shin,NaN,NaN,unknown,NaN,angel,2008-02-07,2008-02-01,2008-01-01,2008,900000.0
50015,TrustDegrees,web,USA,NY,Kenmore,Kenmore,Nancy Barrett,NaN,NaN,unknown,NaN,angel,2011-06-09,2011-06-01,2011-04-01,2011,8000.0
50016,Altavoz,games_video,USA,DC,Washington DC,Washington,Nancy Jacobsen,NaN,NaN,unknown,NaN,angel,2012-09-11,2012-09-01,2012-07-01,2012,150000.0
50017,EdSurge,education,USA,CA,SF Bay,Burlingame,Nancy Peretsman,NaN,NaN,unknown,NaN,angel,2012-08-29,2012-08-01,2012-07-01,2012,400000.0
50018,FullContact,enterprise,USA,CO,Denver,Denver,Nancy Pierce,NaN,NaN,unknown,NaN,series-b,2012-07-09,2012-07-01,2012-07-01,2012,7000000.0
50019,Rapt Media,enterprise,USA,CO,Denver,Boulder,Nancy Pierce,NaN,NaN,unknown,NaN,series-a,2013-01-23,2013-01-01,2013-01-01,2013,2288803.0
50020,Humanoid,software,USA,CA,SF Bay,San Francisco,Nat Friedman,NaN,NaN,unknown,NaN,angel,2010-12-01,2010-12-01,2010-10-01,2010,1100000.0
50021,Runscope,web,USA,CA,SF Bay,San Francisco,Nat Friedman,NaN,NaN,unknown,NaN,angel,2013-05-22,2013-05-01,2013-04-01,2013,1100000.0
50022,Adzerk,advertising,USA,NC,Raleigh-Durham,Durham,Nat Turner,NaN,NaN,unknown,NaN,angel,2011-07-12,2011-07-01,2011-07-01,2011,650000.0
50023,Adaptly,advertising,USA,NY,New York,New York,Nat Turner,NaN,NaN,unknown,NaN,series-a,2011-04-18,2011-04-01,2011-04-01,2011,2000000.0
50024,Lore,education,USA,NY,New York,New York,Nat Turner,NaN,NaN,unknown,NaN,angel,2011-06-27,2011-06-01,2011-04-01,2011,1000000.0
50025,Tasted Menu,hospitality,USA,MA,Boston,Boston,Nat Turner,NaN,NaN,unknown,NaN,angel,2011-05-01,2011-05-01,2011-04-01,2011,NaN
50026,Lua Technologies,mobile,USA,NY,New York,New York,Nat Turner,NaN,NaN,unknown,NaN,series-a,2012-08-01,2012-08-01,2012-07-01,2012,2500000.0
50027,Blue Apron,hospitality,USA,NY,New York,Brooklyn,Nat Turner,NaN,NaN,unknown,NaN,series-a,2013-02-19,2013-02-01,2013-01-01,2013,3000000.0
50028,ChatID,mobile,USA,NY,New York,New York,Nat Turner,NaN,NaN,unknown,NaN,angel,2012-01-01,2012-01-01,2012-01-01,2012,NaN
50029,Breakthrough Behavioral,health,USA,CA,SF Bay,Redwood City,Nat Turner,NaN,NaN,unknown,NaN,angel,2012-08-13,2012-08-01,2012-07-01,2012,900000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52840,Meddik,health,USA,NY,New York,New York,Zach Weinberg,NaN,NaN,unknown,NaN,angel,2012-05-24,2012-05-01,2012-04-01,2012,750000.0
52841,Blue Apron,hospitality,USA,NY,New York,Brooklyn,Zach Weinberg,NaN,NaN,unknown,NaN,series-a,2013-02-19,2013-02-01,2013-01-01,2013,3000000.0
52842,ChatID,mobile,USA,NY,New York,New York,Zach Weinberg,NaN,NaN,unknown,NaN,angel,2012-01-01,2012-01-01,2012-01-01,2012,NaN
52843,Breakthrough Behavioral,health,USA,CA,SF Bay,Redwood City,Zach Weinberg,NaN,NaN,unknown,NaN,angel,2012-08-13,2012-08-01,2012-07-01,2012,900000.0
52844,Plaid,software,USA,CA,SF Bay,San Francisco,Zach Weinberg,NaN,NaN,unknown,NaN,series-a,2013-09-19,2013-09-01,2013-07-01,2013,2800000.0
52845,PokitDok,mobile,USA,CA,SF Bay,Menlo Park,Zach Zeitlin,NaN,NaN,unknown,NaN,angel,2012-07-12,2012-07-01,2012-07-01,2012,1300000.0
52846,Fitocracy,web,USA,NY,New York,New York,Zachary Aarons,NaN,NaN,unknown,NaN,angel,2011-09-01,2011-09-01,2011-07-01,2011,250000.0
52847,Square,mobile,USA,CA,SF Bay,San Francisco,Zachary Bogue,NaN,NaN,unknown,NaN,series-a,2009-11-01,2009-11-01,2009-10-01,2009,10000000.0
52848,MixRank,advertising,USA,CA,SF Bay,San Francisco,Zachary Bogue,NaN,NaN,unknown,NaN,series-a,2011-11-18,2011-11-01,2011-10-01,2011,1500000.0
52849,Socialcam,mobile,USA,CA,Santa Clara County,Santa Clara County,Zachary Bogue,NaN,NaN,unknown,NaN,angel,2012-04-30,2012-04-01,2012-04-01,2012,NaN
52850,Nuzzel,news,USA,CA,SF Bay,San Francisco,Zachary Bogue,NaN,NaN,unknown,NaN,venture,2012-11-15,2012-11-01,2012-10-01,2012,1700000.0
52851,ThirdLove,ecommerce,USA,CA,SF Bay,San Francisco,Zachary Bogue,NaN,NaN,unknown,NaN,series-a,2012-12-01,2012-12-01,2012-10-01,2012,5600000.0
52852,MXD3D,web,USA,CA,SF Bay,San Francisco,Zaid Ayoub,NaN,NaN,unknown,NaN,angel,2012-01-01,2012-01-01,2012-01-01,2012,300000.0
52853,MXD3D,web,USA,CA,SF Bay,San Francisco,Zaid Ayoub,NaN,NaN,unknown,NaN,angel,2011-01-01,2011-01-01,2011-01-01,2011,300000.0
52854,Verious,mobile,USA,CA,SF Bay,San Carlos,Zain Khan,NaN,NaN,unknown,NaN,angel,2011-05-30,2011-05-01,2011-04-01,2011,800000.0
52855,Identified,analytics,USA,CA,SF Bay,San Francisco,Zao Yang,NaN,NaN,unknown,NaN,series-b,2012-06-05,2012-06-01,2012-04-01,2012,21000000.0
52856,HaulerDeals,fashion,USA,CA,Los Angeles,Los Angeles,Zaw Thet,NaN,NaN,unknown,NaN,angel,2012-10-31,2012-10-01,2012-10-01,2012,1250000.0
52857,When You Wish,nonprofit,USA,CA,Los Angeles,Marina Del Rey,Zelda Marzec,NaN,NaN,unknown,NaN,series-a,2011-02-01,2011-02-01,2011-01-01,2011,1500000.0
52858,Farmeron,analytics,USA,CA,SF Bay,Mountain View,Zeljko Mataija,NaN,NaN,unknown,NaN,angel,2010-10-01,2010-10-01,2010-10-01,2010,15000.0
52859,Theraclone Sciences,biotech,USA,WA,Seattle,Seattle,Zenyaku Kogyo,NaN,NaN,unknown,NaN,series-b,2013-03-25,2013-03-01,2013-01-01,2013,8000000.0
52860,SimpleGeo,advertising,USA,CA,SF Bay,San Francisco,Ziv Navoth,NaN,NaN,unknown,NaN,other,2009-11-10,2009-11-01,2009-10-01,2009,195000.0
52861,Open Me,ecommerce,USA,CA,Los Angeles,Los Angeles,Ziver Birg,NaN,NaN,unknown,NaN,angel,2013-08-01,2013-08-01,2013-07-01,2013,NaN
52862,Comprehend Systems,enterprise,USA,CA,SF Bay,Palo Alto,Zod Nazem,NaN,NaN,unknown,NaN,series-a,2013-07-11,2013-07-01,2013-07-01,2013,8400000.0
52863,Payoneer,other,USA,NY,New York,New York,Zohar Gilon,NaN,NaN,unknown,NaN,series-a,2005-01-01,2005-01-01,2005-01-01,2005,2000000.0
52864,Outbrain,web,USA,NY,New York,New York City,Zohar Gilon,NaN,NaN,unknown,NaN,series-b,2009-02-11,2009-02-01,2009-01-01,2009,12000000.0
52865,Garantia Data,enterprise,USA,CA,SF Bay,Santa Clara,Zohar Gilon,NaN,NaN,unknown,NaN,series-a,2012-08-08,2012-08-01,2012-07-01,2012,3800000.0
52866,DudaMobile,mobile,USA,CA,SF Bay,Palo Alto,Zohar Gilon,NaN,NaN,unknown,NaN,series-c+,2013-04-08,2013-04-01,2013-04-01,2013,10300000.0
52867,SiteBrains,software,USA,CA,SF Bay,San Francisco,zohar israel,NaN,NaN,unknown,NaN,angel,2010-08-01,2010-08-01,2010-07-01,2010,350000.0
52868,Comprehend Systems,enterprise,USA,CA,SF Bay,Palo Alto,Zorba Lieberman,NaN,NaN,unknown,NaN,series-a,2013-07-11,2013-07-01,2013-07-01,2013,8400000.0
52869,SmartThings,mobile,USA,DC,unknown,Minneapolis,Zorik Gordon,NaN,NaN,unknown,NaN,series-a,2012-12-04,2012-12-01,2012-10-01,2012,3000000.0

## Loading Chunks into SQLite

Create and connect to a new SQLite database file.
Expand on the existing chunk processing code to export each chunk to a new table in the SQLite database.
Query the table and make sure the data types match up to what you had in mind for each column.

In [31]:
import sqlite3
conn = sqlite3.connect('crunchbase.db')
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1', usecols=keep_cols, dtype=convert_col_dtypes, 
                         parse_dates=["funded_at", "funded_month", "funded_quarter"])

for chunk in chunk_iter:
    chunk.to_sql("investments", conn, if_exists='append', index=False)
    
results_df = pd.read_sql("PRAGMA table_info(investments);", conn)
print(results_df)

    cid                   name       type  notnull dflt_value  pk
0     0           company_name       TEXT        0       None   0
1     1  company_category_code       TEXT        0       None   0
2     2   company_country_code       TEXT        0       None   0
3     3     company_state_code       TEXT        0       None   0
4     4         company_region       TEXT        0       None   0
5     5           company_city       TEXT        0       None   0
6     6          investor_name       TEXT        0       None   0
7     7  investor_country_code       TEXT        0       None   0
8     8    investor_state_code       TEXT        0       None   0
9     9        investor_region       TEXT        0       None   0
10   10          investor_city       TEXT        0       None   0
11   11     funding_round_type       TEXT        0       None   0
12   12              funded_at  TIMESTAMP        0       None   0
13   13           funded_month  TIMESTAMP        0       None   0
14   14         funded_quarter  TIMESTAMP        0       None   0
15   15            funded_year    INTEGER        0       None   0
16   16      raised_amount_usd       REAL        0       None   0

## Next Steps

Use the pandas SQLite workflow to answer the following questions:

* What proportion of the total amount of funds did the top 10% raise? What about the top 1%? Compare these values to the proportions the bottom 10% and bottom 1% raised.
* Which category of company attracted the most investments?
* Which investor contributed the most money (across all startups)?
* Which investors contributed the most money per startup?
* Which funding round was the most popular? Which was the least popular?

In [32]:
#top 10% fund rasiser analysis

query="""
      select iv.company_name,
      cast(sum(raised_amount_usd) as double)/(select cast(sum(raised_amount_usd) as bigint) from investments) as percentage_funding,
      cast(sum(raised_amount_usd) as bigint) as funding_amount
      from investments as iv
      group by iv.company_name 
      order by funding_amount desc
      limit (select cast(count(distinct company_name)*.1 as int) from investments)
      """

In [33]:
top_10_raised = pd.read_sql(query, conn)

In [44]:
print("Funding raised by top 10 percent $%.2f billion"%(top_10_raised["funding_amount"].sum()/10000000000))

Funding raised by top 10 percent $45.76 billion

In [45]:
#top 1% fund rasiser analysis
query="""
      select iv.company_name,
      cast(sum(raised_amount_usd) as double)/(select cast(sum(raised_amount_usd) as bigint) from investments) as percentage_funding,
      cast(sum(raised_amount_usd) as bigint) as funding_amount
      from investments as iv
      group by iv.company_name 
      order by funding_amount desc
      limit (select cast(count(distinct company_name)*.01 as int) from investments)
      """

In [46]:
top_1_raised=pd.read_sql(query,conn)

print("Funding raised by top 1 percent $%.2f billion"%(top_1_raised["funding_amount"].sum()/10000000000))

Funding raised by top 1 percent $17.87 billion

In [47]:
#bottom 10% fund rasiser analysis

query="""
      select iv.company_name,
      round(cast(sum(raised_amount_usd) as double)/(select cast(sum(raised_amount_usd) as double) from investments),6) as percentage_funding,
      cast(sum(raised_amount_usd) as bigint) as funding_amount
      from investments as iv
      group by iv.company_name
      having funding_amount is not Null
      order by funding_amount asc
      limit (select cast(count(distinct company_name)*.1 as int) from investments)
      """

In [48]:
btm_10_raised=pd.read_sql(query,conn)
print("Funding raised by bottom 10 percent $%.10f billion"%(btm_10_raised["funding_amount"].sum()/10000000000))

Funding raised by bottom 10 percent $0.0252174228 billion

In [49]:
#category of company attracted most of investors 

query="""
      select iv.company_category_code,count(*) as frequency
      from investments as iv
      group by iv.company_category_code
      order by frequency desc
      limit 1
      """

In [50]:
investment=pd.read_sql(query,conn)
print("Category: %s , frequency_investment: %d"%(investment["company_category_code"][0],investment["frequency"][0]))

Category: software , frequency_investment: 7243

In [51]:
#category of investor contributed the money 

query="""
      select iv.investor_name,count(*) as frequency
      from investments as iv
      group by iv.investor_name
      having investor_name is not Null
      order by frequency desc
      limit 1
      """

In [52]:
investor_name=pd.read_sql(query,conn)
investor_name

               investor_name  frequency
0  New Enterprise Associates        445

In [53]:
#category of investor contributed the most money per startup  
query="""
      select iv.investor_name,count(*) as frequency,
      sum(raised_amount_usd) as investment
      from investments as iv
      group by iv.investor_name
      order by investment desc
      limit 1
      """

In [54]:
investor_money=pd.read_sql(query,conn)
print("investor: %s , investment in billons: %d"%(investor_money["investor_name"][0],investor_money["investment"][0]/10000000000))

investor: Kleiner Perkins Caufield & Byers , investment in billons: 1

In [55]:
#What funding round was most popular?

query="""
      select iv.funding_round_type as f_r_t,
      count(*) as frequency
      from investments as iv
      group by f_r_t
      order by frequency desc 
      limit 1
      """

In [56]:
funding_pop=pd.read_sql(query,conn)
print("funding popular: %s"%(funding_pop["f_r_t"][0]))

funding popular: series-a